html, body {
    height: 100%;
    background-color: #343a40;
}

body {
    font-family: "Roboto", serif;
}

:root {
    --primary: #5e17eb;
    --secondary: #7ed957;
}

.nav-link {
    margin: .25rem 0;
    border: 2px solid var(--primary);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 10rem;
        margin: 0 .25rem;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: inherit;
}

.nav-pills .nav-link.active-page {
    background-color: var(--primary);
}

.card-header {
    cursor: pointer;
}